@using LowPrice.Models.Admin
@using System.Text.RegularExpressions
@model LowPrice.Models.Market.Item

<link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
<div class="mobile-win">
    @{
        var catyNameRus = Slovar.CategoryToRus(Model.Category);
        string priceLdor = RefreshPrices.ReturnPricePlatform("ldor", Model.Hash);
        string uriLdor = RefreshPrices.ReturnUriPlatform("ldor", Model.Hash);
        string priceSitilink = RefreshPrices.ReturnPricePlatform("sitilink", Model.Hash);
        string uriSitilink = RefreshPrices.ReturnUriPlatform("sitilink", Model.Hash);
        double p1 = 0, p2 = 0;
        string lowprice;
        if (priceLdor != "")
        {
            try
            {
                var lp = Regex.Match(priceLdor, "([0-9]*)").Groups[1].Value;
                p1 = Convert.ToDouble(lp);
            }
            catch
            {
                p1 = 0;
            }
        }

        if (priceSitilink != "")
        {
            try
            {
                var lp = Regex.Match(priceSitilink, "([0-9]*)").Groups[1].Value;
                p2 = Convert.ToDouble(lp);
            }
            catch
            {
                p2 = 0;
            }
        }

        if (p1 > p2 )
        {
            lowprice = p2.ToString();
        }
        else if (p1 < p2)
        {
            lowprice = p1.ToString();
        }
        else
        {
            lowprice = Model.Price;
        }
    }
    <h3 class="mobile-item-category">@catyNameRus</h3>
    <h1 class="mobile-item-name">@Model.Creater&nbsp;@Model.Name </h1>
    
    <div class="mobile-sravn-item">
        <div class="mobile-photo-item-check">
            @{
                Model.PhotoPath = $@"photo/{Model.Hash}.jpeg";
            }
            <img class="mobile-large-photo" src="~/@Model.PhotoPath"/>
            <div class="mobile-item-price">@lowprice</div>
            <img class="mobile-item-price-valut" src="~/resource/valut.jpg"/>
        </div>
        <div class="mobile-about-item">
            <div class="mobile-decrp">
                <div class="mobile-name-decrp">
                    <h3>Характеристики</h3>
                </div>
                <div class="mobile-value-decrp">
                    <h3>@Model.Description.Descr</h3>
                </div>
            </div>
            <div class="mobile-decrp">
                <div class="mobile-name-decrp">
                    <h3>Цвет</h3>
                </div>
                <div class="mobile-value-decrp">
                    <h3>@Model.Description.Color</h3>
                </div>
            </div>
            <div class="mobile-decrp">
                <div class="mobile-name-decrp">
                    <h3>Материал</h3>
                </div>
                <div class="mobile-value-decrp">
                    <h3>@Model.Description.Matireal</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-items">
        <h2 style="font-family: NovaBold;padding-bottom: 1em; font-size: 20px;">Цены на @Model.Name</h2>
        <div class="mobile-other-item">
            <img class="mobile-other-photo" src="~/@Model.PhotoPath" />
            <div class="mobile-other-name">@Model.Name , @Model.Description.Color , @catyNameRus</div>
            <img class="mobile-other-photo-company" src="~/resource/sitilink.jpg" />
            <div class="mobile-other-price-sub">
                <a href="@uriSitilink" target="_blank"><button class="mobile-item-other-sub" type="submit">@priceSitilink руб.</button></a>
            </div>
        </div>
        <div class="mobile-other-item">
            <img class="mobile-other-photo" src="~/@Model.PhotoPath" />
            <div class="mobile-other-name">@Model.Name , @Model.Description.Color , @catyNameRus</div>
            <img class="mobile-other-photo-company" src="~/resource/ldor.jpg" />
            <div class="mobile-other-price-sub">
                <a href="@uriLdor" target="_blank"><button class="mobile-item-other-sub" type="submit">@priceLdor руб.</button></a>
            </div>
        </div>
    </div>

    <div class="mobile-menu">
        <div class="mobile-menu-box mobile-shd">
            <a asp-action="Index">
                <img class="mobile-menu-bts" type="image" src="~/resource/photo_2_2023-08-09_20-57-38.jpg" />
                <h5 class="mobile-name">Главная</h5>
            </a>
        </div>

        <div class="mobile-menu-box mobile-shd">
            <a asp-action="Catygory">
                <img class="mobile-menu-bts" type="image" src="~/resource/photo_3_2023-08-09_20-57-38.jpg" />
                <h5 class="mobile-name">Категории</h5>
            </a>
        </div>

        <div class="mobile-menu-box mobile-shd">
            <a asp-action="Liked">
                <img class="mobile-menu-bts" type="image" src="~/resource/heart.png" />
                <h5 class="mobile-name">Избранное</h5>
            </a>
        </div>

        <div class="mobile-menu-box mobile-shd">
            <a asp-action="Userd">
                <img class="mobile-menu-bts" type="image" src="~/resource/photo_1_2023-08-09_20-57-38.jpg" />
                <h5 class="mobile-name">Профиль</h5>
            </a>
        </div>
    </div>

</div>